<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
    <div class="container">
      <div class="header-wrapper">
        {{ partial "head.html" . }}
      </div>

      <div class="border-top"></div>

      <div class="content">
        
        <main class="list">
          <div class="site-description">
            {{- if isset .Site.Params "subtitle" -}}
            <p>{{ .Site.Params.Subtitle | markdownify }}</p>
            {{- end -}}
          </div>
          {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
          {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
          {{ range $paginator.Pages }}
          <section class="list-item">
            <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
            <div class="time-info">
              <i data-feather="calendar"></i><time>{{ dateFormat "2 Jan 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
            </div>
            {{ template "partials/pagedescription.html" . }}
            <a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
          </section>
          {{ end }}
          {{ template "partials/paginator.html" . }}
        </main>
        {{ partial "footer.html" . }}
      </div>
    </div>
		
	</body>
</html>
