<footer style="display: flex; justify-content: space-between;">
  <div style="width: 50%;">
    <ul class="social-wrapper">
    {{- range $index, $key := .Site.Params.Social -}}
      <li><a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.accountId }}"><i data-feather="{{ $key.icon }}"></i><span class="soc-name">{{ $key.name }}</span></a></li>
    {{- end -}}
    </ul>
  </div>
  <div class="footer-info">
    <p>
    "Sebaik-baik manusia adalah yang paling bermanfaat bagi manusia" (HR. Ahmad, ath-Thabrani, ad-Daruqutni)
    </p>
    <p>
    {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }} <a
      href="https://github.com/athul/archie">Archie Theme</a> | Built with <a href="https://gohugo.io">Hugo</a>
    </p>
  </div>
</footer>
{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}
