<!DOCTYPE html>
<html>
    {{- partial "header.html" . -}}
    <body>

    <div class="container">
      <div class="header-wrapper">
        {{ partial "head.html" . }}
      </div>

      <div class="border-top"></div>

      <div class="content">
      {{- block "main" . }}{{- end }}
      {{- partial "footer.html" . -}}
      </div>
    </div>
    </body>
</html>
