{{ define "main" }}

{{ $termName := .Data.Singular }}
{{ $terms := .Data.Terms.ByCount }}
{{ $length := len $terms }}
{{ $type := .Type }}

<!-- categories page -->
{{ if and $.Site.Taxonomies.categories (eq $termName "category") }}
  {{ range $terms }}
  {{ $term := .Term }}
  {{ $pages := .Pages }}
  {{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $type $term) }}
    <section id="archive" class="archive">
      <div class="archive-title">
      </div>
        <div class="collection-title">
          <h2 class="archive-year">
            <a href="{{ .Permalink }}">
              {{ i18n "category" }}{{ $term }}
            </a>
          </h2>
        </div>

        {{ range first 5 $pages }}
          <div class="archive-post">
            <time datetime="{{ .Date.Format "2006-01-02" }}" class="archive-post-time">
              {{ .Date.Format "2006-01-02" }}
            </time>
            <span class="archive-post-title">
              <a href="{{ .RelPermalink }}" class="archive-post-link">
                {{ .Title }}
              </a>
            </span>
          </div>
        {{ end }}
        {{ if gt (len $pages) 5 }}
          <div class="more-post">
            <a href="{{ .Permalink }}" class="more-post-link">{{ i18n "morePost" }}</a>
          </div>
        {{ end }}
      </section>
  {{ end }}
  {{ end }}
{{ else }}

<h1 class="page-title">All tags</h1>

{{ $biggest := 1 }}
{{ $smallest := 1 }}
{{ $max := 3 }}
{{ $min := 1 }}
{{ $size := $min }}

{{ $data := .Data }}
<div class="tag-cloud">
	<ul class="tags">
		{{ range $key, $value := .Data.Terms.ByCount }}
		{{ $size := (add (mul (div $value.Count $biggest) (sub $max $min)) $min) }}
		{{ $size := (cond (eq $biggest $smallest) $min $size) }}
		<li><a style="font-size: {{ $size }}rem;" href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ $value.Name }}</a></li>
		{{ end }}
	</ul>
</div>
{{ end }}
{{ end }}
